.header-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    padding: 2%;
    color: white;
    font-size: large;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
    border-radius: 2px;
    color:white;
    margin-top: 0px;
    align-items: center;
    width:30vw;
}

.day-color {
    background-color:rgb(67, 118, 238);
  }
  
  .night-color {
    background-color: rgb(20, 20, 57);
  } 