.search-container {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    border: solid;
    /* padding:1%; */
    /* width: 25vw; */
    /* margin: auto; */
    margin: 1%;
    border-radius: 5px;
    /* display: none; */
    color:white;
}

form {
    display: flex;
    align-items: center;
}

.search-input {
    margin:0px;
    border:none;
    width:100%;
}

.search-icons {
    border: none;
    background-color: rgb(196, 191, 191);
}

.search-icons:active { 
    box-shadow: inset;
    background-color: rgb(148, 146, 146);
}

@media only screen and (max-width:400px) {
    .search-input {
        width:100%;
    }
}
